SimpleCrosshair
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.title
	{
		position: absolute;
		width: 3;
		height: 50;
		color: #fff;
		backdrop-filter: invert(100%);
	}
}