{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "active": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "active",
      "b": "active",
      "r": "Ignore"
    }
  ],
  "__guid": "d1f79d9a-bb57-463d-aad4-9fc9f142f470",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}